.drawerSideOn{
    pointer-events: auto;
    visibility: visible;
    position: sticky;
    display: block;
    width: auto;
    overscroll-behavior: auto;
    overflow-y: auto;
    
}

.activeNone:active{
    --tw-bg-opacity: 0 !important;
    background-color: inherit !important;
    --tw-text-opacity: 0 !important;
    color: inherit !important;
}